<footer class="footer-container">
    <a class="footer-container__link" mat-button color="accent" href="https://www.linkedin.com/in/pawel-marcinkowski/">
        <span>LinkedIn </span><mat-icon>person_outline</mat-icon>
    </a>
    <a class="footer-container__link" mat-button color="accent" href="https://github.com/wafel34">
        <span>GitHub </span><mat-icon>folder_open</mat-icon>
    </a>
    <button class="footer-container__link" mat-button color="accent" routerLink="/about">
        <span>About / Contact </span><mat-icon>info_outline</mat-icon>
    </button>
</footer>
