.list-grid
    display: flex
    flex-wrap: wrap
    justify-content: center
    &__item
        width: 80%
        box-sizing: border-box
        padding: 12px
        margin: -10px


    &__image
        width: 100%


@media screen and (min-width: 490px)
    .list-grid
        &__item
            width: 48%


@media screen and (min-width: 900px)
    .list-grid
        &__item
            width: 25%
