.list-grid
    display: flex
    flex-wrap: wrap
    justify-content: center
    &__item
        width: 100%
        box-sizing: border-box
        padding: 20px 15px
        margin: -10px


@media screen and (min-width: 560px)
    .list-grid
        &__item
            width: 50%


@media screen and (min-width: 820px)
    .list-grid
        &__item
            width: 33.3%



@media screen and (min-width: 1080px)
    .list-grid
        &__item
            width: 25%
