@import '~@angular/material/theming'
@import url('https://fonts.googleapis.com/css?family=Sarala:400,700')
$custom-typography: mat-typography-config($font-family: 'Sarala, monospace', $headline: mat-typography-level(32px, 48px, 700), $body-1: mat-typography-level(16px, 24px, 500))


@include mat-core($custom-typography)

$recepies-app-primary: mat-palette($mat-yellow)
$recepies-app-accent:  mat-palette($mat-green)
$recepies-app-warn:    mat-palette($mat-deep-orange)

$recepies-app-theme: mat-light-theme($recepies-app-primary, $recepies-app-accent, $recepies-app-warn)


@include angular-material-theme($recepies-app-theme)
