/* You can add global styles to this file, and also import other style files */
*
    box-sizing: border-box

html, body
    height: 100%
    margin: 0
    padding: 0

.app-container
    max-width: 94%
    margin: 0 auto
    overflow: hidden
    margin-top: 24px


@media screen and (min-width: 1280px)
    .app-container
        max-width: 1280px
