<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" opened="false" mode="over" #sidenav>
        <button class="sidenav__button" mat-button (click)="sidenav.toggle()">
            <mat-icon color="accent">close</mat-icon>
        </button>

        <!--sidenav elements -->
        <div class="sidenav__group">
            <a class="sidenav__link" routerLink="/home" (click)="sidenav.toggle()">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a class="sidenav__link" routerLink="/about" (click)="sidenav.toggle()">
                <mat-icon>info_outline</mat-icon>
                About
            </a>
        </div>
        <div class="sidenav__group" *ngIf="this.auth.isLoggedIn()">
            <a class="sidenav__link" routerLink="/my_recepies" (click)="sidenav.toggle()">
                <mat-icon>face</mat-icon>
                My recepies
            </a>
            <a class="sidenav__link" routerLink="/favorites" (click)="sidenav.toggle()">
                <mat-icon>favorite_border</mat-icon>
                Faivorites
            </a>
            <a class="sidenav__link" routerLink="/add" (click)="sidenav.toggle()">
                <mat-icon>add_circle_outline</mat-icon>
                Add recepie
            </a>
        </div>
        <!-- sidenav elements end -->
    </mat-sidenav>
    <mat-toolbar class="toolbar">
        <div class="toolbar__item">
            <button mat-button (click)="sidenav.toggle()">
                <mat-icon color="accent">apps</mat-icon>
            </button>
        </div>
        <div class="toolbar__item">
            <a *ngIf="!this.auth.isLoggedIn()" class="toolbar__button" mat-button routerLink="/register">
                <span>Register</span>
                <mat-icon color="accent">add_circle</mat-icon>
            </a>
            <a *ngIf="!this.auth.isLoggedIn()" class="toolbar__button" mat-button routerLink="/login">
                <span>Login</span>
                <mat-icon color="accent">account_circle</mat-icon>
            </a>
            <a *ngIf="this.auth.isLoggedIn()" class="toolbar__button" mat-button (click)="logout()">
                <span>Logout</span>
                <mat-icon color="accent">account_circle</mat-icon>
            </a>
        </div>
    </mat-toolbar>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
</mat-sidenav-container>
